body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1a1a1a;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.logo {
  width: 6rem;
  height: 5rem;
  color: #fff;
  padding: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ff2625);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ff2625);
}

.navMenu {
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  gap: 2rem;
}
.navDesktopMenu {
  flex-direction: row;
}

.navMobileMenu {
  flex-direction: column;
  position: absolute;
  display: none;
  top: 4rem;
  right: -100%;
  padding: 1rem;
  gap: 2rem;
  background-color: #403e3e;
  border-radius: 0.5rem;
  z-index: 1;
}

.navShowMenu {
  right: 10px;
  display: flex;
  z-index: 10;
}

.navMenu::before {
  content: "";
  opacity: 0.6;
}
.navMenuItem {
  font-weight: 500;
}

.searchBarInput {
  padding: 0.75rem 1rem;
  width: 60vw;
  border-radius: 0.3rem;
  border: 1px solid hsl(60, 4%, 90%);
  outline: none;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.searchBarInput::placeholder {
  color: #5b5b5b;
}

.searchBtn {
  background-color: #ff2625;
}

.bannerImg {
  width: 100vw;
  height: 50vh;
}

.bodyPartCardIcon {
  width: 200px;
  padding: 1rem;
}

.react-horizontal-scrolling-menu--scroll-container {
  gap: 2rem;
}
.react-horizontal-scrolling-menu--inner-wrapper {
  width: 80vw;
  align-self: center;
}

.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
  color: #ff2625;
  cursor: pointer;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.react-horizontal-scrolling-menu--arrow-left:hover,
.react-horizontal-scrolling-menu--arrow-right:hover {
  filter: drop-shadow(0 0 1em #ff2625);
  transform: scale(1.05);
}

.react-horizontal-scrolling-menu--inner-wrapper {
  width: 90vw;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footerlogoImg {
  width: 5rem;
  height: 4rem;
}

.exerciseImage {
  width: 30vw;
  padding: 2rem 4rem;
  border-radius: 10px;
}

.exerciseCardImage {
  width: 200px;
  max-width: 200px;
  margin-top: -1rem;
}

.exerciseIcon {
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 0.25rem;
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #fff !important;
  padding: 0.2rem 0;
  margin-top: 0.5rem !important;
}
.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: rgba(231, 231, 237, 0.1) !important;
}
.css-1v2lvtn-MuiPaginationItem-root {
  color: #fff !important;
}

.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: blueviolet !important;
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #ff2625;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  .navShowMenu {
    width: min-content;
  }
  .navMenuItem {
    font-size: 1.25rem;
    margin-top: -1.25rem !important;
  }
  .navMenuSearch {
    font-size: 1rem !important;
    width: 30vw !important;
    height: 8vh !important;
    text-align: center;
    line-height: 1.5rem !important;
  }

  .searchBarInput {
    width: 73vw;
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .bodyPartCardIcon {
    width: 150px;
  }

  .footerlogoImg {
    width: 3rem;
    height: 3rem;
  }
  .exerciseImage {
    width: 80vw;
    padding: 0;
    margin-block: 1rem;
    margin-left: 1rem;
  }
  .exerciseCardImage {
    width: 150px;
    margin-top: 0;
  }
  .exerciseIcon {
    width: 40px;
  }
}
